{% extends "base.html" %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Моя компания | Джуманджи</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <style>
            body {
                background-color: #F6F2E6;
            }
        </style>
    </head>
{% endblock %}
{% block content %}
<main class="container mt-3 pb-5">
    <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <aside class="pt-3 pb-4 px-4 mb-5 card">
                <h1 class="h4 pt-2 pb-2">Моя компания</h1>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" href="{% url "mycompany" %}">1. Информация о&nbsp;компании</a>
                    <a class="nav-link active" href="{% url "company_vacancies" %}">2. Вакансии</a>
                </div>
            </aside>
        </div>
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4">
                    <section class="tab-pane fade show active">
                        <h2 class="h4 pt-2 pb-3">Вакансии</h2>
                        <!-- vacancy state 1 -->
                        {% if vacancies.count > 0 %}
                            {% for vacancy in vacancies %}
                                <div class="card mt-3">
                                    <div class="card-body px-4">
                                        <div class="row align-items-center">
                                            <div class="col-6 col-lg-8">
                                                <a href="{% url 'vacancy_edit'  vacancy.pk %}" class="mb-1">{{ vacancy.title }}</a>
                                                <p class="mb-1">
                                                    <span class="mr-4">От {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</span><a
                                                        href="{% url 'vacancy_edit'  vacancy.pk %}" class="text-info">{{ vacancy.summs }} отклика</a>
                                                </p>
                                            </div>
                                            <div class="col-6 col-lg-4 text-right">
                                                <a href="{% url 'vacancy_edit'  vacancy.pk %}"
                                                   class="btn btn-outline-info">Изменить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="alert alert-info" role="alert">
                                У вас пока нет вакансий, но вы можете создать первую!
                            </p>
                        {% endif %}
                        <a href="{% url 'vacancy_create' %}" class="btn btn-info mt-3">Добавить вакансию</a>
                        <!-- END vacancy state 1 -->
                        <!-- vacancy state 2 -->
                        <!-- END vacancy state 2 -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}