<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mr-4" href='http://127.0.0.1:8000/admin/'>ADMIN</a>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav col-10">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'list_vacancies' %}">Вакансии</a>
                </li>

            </ul>
            <ul class="navbar-nav col-2 justify-content-end">
                <li class="nav-item active">
                    <div class="btn-group">
                        {% if request.user.is_authenticated %}
                            <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {{ user.first_name }} {{ user.last_name }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right mt-3">
                                <a href="#" class="dropdown-item py-2">Профиль</a>
                                <a href="{% url "resume_edit" %}" class="dropdown-item py-2">Резюме</a>
                                <a href="{% url "mycompany" %}" class="dropdown-item py-2">Компания</a>
                                <a href="{%  url "logout" %}" class="dropdown-item py-2">Выйти</a>
                            </div>
                        {% else %}
                            <ul class="navbar-nav col-2 justify-content-end">
                                <li class="nav-item active">
                                    <a href="{% url 'login' %}" class="nav-link font-weight-bold">Вход</a>
                                </li>
                            </ul>

                            </div>
                            </li>
                            </ul>
                        {% endif %}
        </div>
    </nav>