            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
                    <form  class="form-inline mb-3" action="{% url "search_vacancies" %}" enctype="multipart/form-data" method="get">
                        <div class="form-group col-8 col-md-10 pl-0">
                            <input class="form-control w-100" type="search" name="s" placeholder="Найти работу или стажировку"
                                   aria-label="Найти работу или стажировку">
                        </div>
                        <div class="form-group col-4 col-md-2 pl-0">
                            <button class="btn btn-primary w-100" type="submit">Найти</button>
                        </div>
                    </form>
                    <p>Например:
                        <a href="{% url "search_vacancies" %}?s=Python"  class="text-dark border-bottom border-dark m-1 text-decoration-none">Python</a>
                        <a href="{% url "search_vacancies" %}?s=Flask" class="text-dark border-bottom border-dark m-1 text-decoration-none">Flask</a>
                        <a href="{% url "search_vacancies" %}?s=Django" class="text-dark border-bottom border-dark m-1 text-decoration-none">Django</a>
                        <a href="{% url "search_vacancies" %}?s=Парсинг" class="text-dark border-bottom border-dark m-1 text-decoration-none">Парсинг</a>
                        <a href="{% url "search_vacancies" %}?s=ML" class="text-dark border-bottom border-dark m-1 text-decoration-none">ML</a>

                    </p>
                </div>
            </div>