{% extends 'base.html' %}
{% load ru_pluralize %}
{% load split_string %}
{% block content %}
    <main class="container mt-3">
        <section>
            <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>ПОИСК ВАКАНСИЙ</strong></h1>
            {% include 'vacancy/_inc/incsearch.html' %}
        </section>


        <p class="text-center pt-1">Найдено {{ object_list.count|ru_pluralize:'вакансия, вакансии, вакансий' }}</p>
        <div class="row mt-5">
            <div class="col-12 col-lg-8 offset-lg-2 m-auto">


                {% for vacancy in object_list %}
                    <div class="card mb-4">
                        <div class="card-body px-4">
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-9">
                                    <a href="{% url 'vacancy_view' vacancy.pk %}"><h2
                                            class="h2 pb-2">{{ vacancy.title }}</h2></a>
                                    <p class="mb-2">{{ vacancy.skills|split_string }}</p>
                                    <p>От {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                                    <p class="text-muted pt-1">{{ vacancy.published_at }}</p>
                                </div>
                                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                                    <a href="{% url 'company_view' vacancy.company.pk %}"><img
                                            src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Не найдено вакансий по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>

                {% endfor %}


            </div>
        </div>
        </section>
    </main>
{% endblock %}